.wp-block-blocksy-child-hero-offer {
  border: 1px solid #e5e7eb;
  border-radius: 0.375rem;
}

.hero-offer-controls {
  display: none;
}

.wp-block-blocksy-child-hero-offer .rich-text {
  margin: 0;
}
