.wp-block-blocksy-child-social-proof-strip {
  border: 1px solid #e5e7eb;
  border-radius: 0.375rem;
}

.social-proof-item {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}

.social-proof-item > * {
  flex: 1;
}

.social-proof-item button {
  flex: 0 0 auto;
}
